.containerCarrossel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.containerCarrossel2 {
    width: 100%;
    height: 100%; 
    max-width: 95vw;
    max-height: 75vh;
    transform-style: preserve-3d;
}

input[type='radio'] {
    display: none;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 70%;
    height: 85%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: default;
    padding-bottom: 10px;
}

.cards .card .cardImagem {
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.botaoCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height:7%;
    border: 2px solid #000;
    background: #f50000;
    border-radius: 5px;
    font-size: clamp(0.8rem, 3vw, 1rem);
    box-shadow: 2px 3px 0px #222, 4px 6px 0#000;
    cursor: pointer;
    color: #ffffff;
}

.botaoCard:active{
    box-shadow: inset 4px 4px 0 #222;
    font-size: 0.9rem;
}

.descricao {
    width: 95%;
    margin: 10px;
    text-align: center;
    overflow: hidden;
}

.descricao h3 {
    margin-bottom: 20px;
    font-size: clamp(1.3rem, 3vw, 2rem);
    color: #3e4985;
}

.descricao p {
    font-size: clamp(0.7rem, 3vw, 1rem);
    color: #404040;
    font-weight: bold;
}

.btnDeveloperDr,
.btnDesignDr {
    position: absolute;
    top: 40%;
    right: 6%;
    z-index: 5;
    background: none;
    border: none;
}
.fa-angle-right{
    color: #404040;
    cursor: pointer;
}

.btnDeveloperEs,
.btnDesignEs {
    position: absolute;
    top: 40%;
    left: 6%;
    z-index: 5;
    background: none;
    border: none;
}
.fa-angle-left{
    color: #404040;
    cursor: pointer;
}


#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translateX(-100%) scale(0.7);
    opacity: 0.5;
    z-index: 0;
    background: #cecece;
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translateX(100%) scale(0.7);
    opacity: 0.5;
    z-index: 0;
    background: #cecece;
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translateX(0) scale(1.1);
    opacity: 1;
    z-index: 1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.50);
}

@media screen and (min-width:1200px) {

    
    .btnDeveloperDr,
    .btnDesignDr {
        position: absolute;
        top: 40%;
        right: -70%;
        z-index: 5;
        background: none;
        border: none;
    }

    .fa-angle-right{
        color: #404040;
        cursor: pointer;
    }

    .btnDeveloperEs,
    .btnDesignEs{
        position: absolute;
        top: 40%;
        left: -70%;
        z-index: 5;
        background: none;
        border: none;
    }
    .fa-angle-left{
        color: #404040;
        cursor: pointer;
    }
    
    .btnDeveloperEs, .fa-angle-left:hover {
        color: #f50000;
    }
    .btnDesignEs .fa-angle-left:hover {
        color: #ffffff;
    }
    .btnDeveloperDr .fa-angle-right:hover {
        color: #f50000;
    }
    .btnDesignDr .fa-angle-right:hover {
        color: #ffffff;
    }

    .containerCarrossel2 {
        width: 100%;
        height: 100%;
        max-width: 40vw;
        max-height: 80vh;
        transform-style: preserve-3d;
    }

    .card {
        position: absolute;
        width: 85%;
        height: 85%;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform 0.4 ease;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card .cardImagem {
        width: 100%;
        height: 70%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }


}

