.menuHamburguer{
    position: relative;
    top: 5px;
    z-index: 999;
    margin:0 1rem;
}

#checkboxMenu{
    opacity: 0;
}

label{
    cursor: pointer;
    display: block;
    height: 12px;
    width: 24px;
}

label span{
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: #ffffff;
    transition: 0.5s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top:8px;
}

label span:nth-child(3){
    top: 16px;
}

#checkboxMenu:checked + label span:nth-child(1){
    transform: rotate(405deg);
    top: 8px;
}

#checkboxMenu:checked + label span:nth-child(2){
    transform: rotate(315deg);
    opacity: 0;
}

#checkboxMenu:checked + label span:nth-child(3){
    transform: rotate(315deg);
    top: 8px;
} 
