/*Fonts=================================================================*/
@font-face {
  font-family: 'proxima nova light';
  src: url(../fonts/proxima-nova-light/proximanova-light-webfont.eot) format('embedded-opentype'),
    url(../fonts/proxima-nova-light/proximanova-light-webfont.woff) format('woff'),
    url(../fonts/proxima-nova-light/proximanova-light-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima nova semibold';
  src: url(../fonts/proxima-nova-semibold/proximanova-semibold-webfont.woff2) format('woff2'),
    url(../fonts/proxima-nova-semibold/proximanova-semibold-webfont.woff) format('woff'),
    url(../fonts/proxima-nova-semibold/Proxima-Nova-Semibold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima nova bold';
  src: url(../fonts/proxima-nova-bold/proximanova-bold-webfont.eot) format('embedded-opentype'),
    url(../fonts/proxima-nova-bold/proximanova-bold-webfont.woff) format('woff'),
    url(../fonts/proxima-nova-bold/proximanova-bold-webfont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Reset================================================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

/*Page=================================================================*/
html {
  background: #ffffff;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "proxima nova light", Arial, Sans-serif;
  text-rendering: optimizeLegibility;
  display: grid;
  grid-template-areas: 
  "header header"
  "section1 section1"
  "section2 section2"
  "footer footer";
  z-index: -1000;
}

/*Header===============================================================*/

#header {
  position: fixed;
  transition: all 0.5s ease-in-out;
  background: #111;
  height: 62px;
  width: 100%;
  grid-area: header;
  
}

#header #header-background{
  position: absolute;
  height: 62px;
  width: 100%;
  background: url(../img/Desktop.png) -64px 0px no-repeat;
  background-size: 34rem;
  text-indent: -9999px;
  float: center;
  z-index: -1;
}

#header #logo {
  height: 62px;
  width: 62px;
  background: url(../img/Logo\ Charlone\ impressao\ digital\ C\ branco.png) 10px 10px no-repeat;
  background-size: 2.5rem;
  text-indent: -9999px;
  float: left;
  margin-left: 5%;
  z-index: 100;
}

#header #logo:hover,
#header nav #menu li a:hover,
#header nav #social li a:hover{
  opacity: 0.5;
}

#header nav {
  background: #222222;
  position: absolute;
  top: 62px;
  right: 0px;
  width: 100%;
  transform: translateY(-500px);
  transition: all 1s ease-in-out;
  font-size: 24px;
  text-align: center;
  z-index: -10;
}

#header nav.open{
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}

#header nav #menu li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: #212121 solid 1px;
  border-bottom: #363636 solid 1px;
}

#header nav #menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  line-height: 5rem;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#header nav #menu li #social {
  width: 200px;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header nav #menu li #social li {
  border-bottom: none;
  border-top: none;
}

#header nav #menu li #social li a{
  display: flex;
  align-items: center;
  justify-content: center;
}

#header.hide {
  transform: translateY(-96px);
  transition: all 0.5s ease-in-out;
}

a:hover,
a:active{
  color: #757575;
}

/*Social===============================================================*/

#header nav #social .github a,
#header nav #social .linkedin a,
#header nav #social .behance a {
  width: 2rem;
  height:2rem;
  text-indent: -9999px;
  cursor: pointer;
}

#header nav #social .linkedin a {
  background: url(../img/linkedin\ branco.png) 0 1px no-repeat;
  background-size:1.8rem;
}

#header nav #social .github a {
  background: url(../img/github\ branco.png) 0 0 no-repeat;
  background-size:2rem;
}

#header nav #social .behance a {
  background: url(../img/behance\ branco.png) 0px 6px no-repeat;
  background-size:2rem;
}

/*Menu Mobile===============================================================*/

#header #icon-nav {
  width: 35px;
  height: 62px;
  float: right;
  background: url(../img/menu\ seta\ baixo.png) 5px 20px no-repeat;
  background-size: 1.5rem;
  margin-right: 5%;
  text-indent: -9999px;
}

#icon-nav.active {
  opacity: 0.5;
  background: url(../img/menu\ seta\ cima.png) 5px 20px no-repeat !important;
  background-size: 1.5rem !important;
}

/*section1 e 2===============================================================*/

#section1{
  background: rgb(255, 255, 255);
  padding: 7rem 3rem 0px 3rem;
  grid-area: section1;
  border-bottom: #dddddd solid 1px;
  z-index: -10;
}

#section2{
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  grid-area: section2;
  padding: 6.4rem 3rem;
  z-index: -10;
}

/*Inicio============================================================================*/ 

#section1 .capa{
  height: 70vh;
  margin-top: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
#section1 .capa .capaimg{
  width: 100%;
}

/*Sobre Mim==============================================================*/

#section1 .sobremim{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

#section1 .sobremim .textosobremim h1{
  margin: 0;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
  color: #333333;
  font-size: 2em;
  text-rendering: optimizelegibility;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#section1 .sobremim .textosobremim .intro{
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #757575;
  line-height: 1.3;
}

#section1 .sobremim .textosobremim .descricao{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 4rem;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  text-rendering: optimizeLegibility;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#section1 .sobremim .imgsobremim{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#section1 .sobremim .imgsobremim img{
  width: 100%;
}

/*Portifolio==============================================================*/

#section1 .portfolio{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

#section1 .portfolio .textoportifolio h1{
  
  letter-spacing: -0.04em;
  margin-bottom: 30px;
  color: #333333;
  font-size: 2em;
  text-rendering: optimizelegibility;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#section1 .portfolio .textoportifolio .intro{
  margin-bottom: 30px;
  font-size: 1.5em;
  color: #757575;
  line-height: 1.3;
}

#section1 .portfolio .textoportifolio .descricao{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 4rem;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  text-rendering: optimizeLegibility;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#section1 .portfolio .imgportifolio{
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 .portfolio .imgportifolio img{
  width: 100%;
}

/*Contato==============================================================*/

#section1 .contato{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

#section1 .contato #textocontato h1{
  letter-spacing: -0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  color: #333333;
  font-size: 2em;
  text-rendering: optimizelegibility;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#section1 .contato #textocontato .intro{
  font-size: 1.5em;
  color: #757575;
  line-height: 1;
}

#section1 .contato #textocontato .social{
  padding-top: 3.2rem;
}

#section1 .contato #textocontato .social li{
  width: 100%;
  height: 3.2rem;
  margin-bottom: 3.2rem;
  display: inline-block;
}

#section1 .contato #textocontato .social li a{
  padding-left: 4rem;
  line-height: 3.5rem;
  display: block;
  height: 3.3rem;
  text-decoration: none;
  font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

#section1 .contato #textocontato .social li .github2{
  background: url(../img/github.png) 0 5px no-repeat;
  background-size: 3rem;
  color: #333333;
}

#section1 .contato #textocontato .social li .behance2{
  background: url(../img/behance.png) 0 5px no-repeat;
  background-size: 3rem;
  color: #0034c2;
}

#section1 .contato #textocontato .social li .linkedin2{
  background: url(../img/linkedin.png) 0 5px no-repeat;
  background-size: 3rem;
  color: #0982c0;
}

#section1 .contato #textocontato .social li:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
}

#section1 .contato #imagemcontato{
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 .contato #imagemcontato img{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
}

/*Section 2 Ultimos trabalhos==============================================*/ 

#section2 .ultimostrabalhos{
  height: 2px;
  background: #dddddd;
  border-bottom: #ffffff solid 1px;
  margin-bottom: 3.2rem;
  position: relative;
}

#section2 .ultimostrabalhos h3 {
  background: #fafafa;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -104px;
  width: 210px;
  text-align: center;
  display: block;
  color: #757575;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2rem;
  font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  text-shadow: 0px 1px 1px #ffffff;
}

/*======================================================================*/

#thumbs {
  list-style: none;
  position: relative;
  padding: 0;
}

#thumbs li {
  margin: 0 0 3.2rem 0;
  background: #ffffff;
  padding: 5% 5% 0 5%;
  position: relative;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#thumbs li a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #333333;
}

#thumbs li a .thumbsimg {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  
}

.thumbsimg {
  max-width: 100%;
  position: relative;
  margin-bottom: 4rem;
  height: auto;
}

#thumbs .descrição{
  padding: 1.6rem;
  position: relative;
  overflow: hidden;
}

#thumbs li:hover,
#thumbs li:active{
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/*===============================================================*/

#section2 .containerform .envioemail h2{
  font-size: 1.7rem;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  color: #333333;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  margin-bottom: 20px;
}

#section2 .containerform {
  padding-bottom: 5rem;
}

#section2 .containerform form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
}

#section2 .containerform form .formulario1{
  margin-bottom: 50px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 7vh;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: 0.3s;
  color: #404040;
}

textarea[type="message"] {
  width: 100%;
  height: 19vh;
  padding-top: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: 0.3s;
  color: #404040;
  margin-bottom: 30px;
}

#section2 .containerform form .formulario1 p{
  margin-bottom: 20px;
}
  
#section2 .containerform form .formulario2 p button{
  float: right;
  width:140px;
  height: 50px;
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#section2 .containerform form .formulario2 p button:hover{
  opacity: 0.7;
}

/*===============================================================*/

#footer{
  grid-area: footer;
  position: relative;
  background: #f5f5f5;
  height: 100px;
  padding: 40px 5% 0 5%;
  color: #757575;
  font-size: 16px;
  text-align: center;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
}

#footer #nav-footer li{
  display: none;
}

#footer a.top {
  background: transparent url(../img/up.png) 0 0 no-repeat;
  background-size: 120px;
  width: 120px;
  height: 82px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -59px;
  bottom: -30px;
  text-indent: -9999px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#footer a:hover.top,
#footer a:active.top{
  bottom: -20px;
}

#footer a {
  color: #757575;
  text-decoration: none;
  float: center;
  margin-right: 20px;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

#footer a:hover,
#footer a:active{
  color:#333333;
}

#footer .gradiente-branco{
  position: absolute;
  width: 100%;
  height: 50px;
  top: -50px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: -moz-linear-gradient(center bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}

/*===============================================================*/

@media only screen and (min-width: 830px) {

  #icon-nav{
    display: none;
  }

  #header{
    height: 96px;
    padding: 0 10%;
  }

  #header #header-background{
    display: none;
  }

  #header #logo {
    height: 96px;
    width: 5rem;
    background: url(../img/Logo\ Charlone\ impressao\ digital\ C\ branco.png) 7px 17px no-repeat;
    background-size: 3.5rem;
    margin-left: 0;
  }

  #header nav {
    display: block;
    position: static;
    background: transparent;
    float: right;
    height: 96px;
    width: auto;
    transform: translateY(0px);
    z-index: 1000;
  }
  

  #header nav #menu li{
    height: 96px;
    border: 0px;
  }

  #header nav #menu li a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 1.5rem;
    line-height: 0;
  }
  
  #header #logo,
  #header nav #menu li a,
  #header nav #social li a{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  #header nav #menu,
  #header nav li #social{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #header nav #menu li #social{
    width: auto;
    margin-left: 50px;
  }

  #header nav #menu li #social li a {
    margin-left: 10px;
  }

  #header nav #social .github a,
  #header nav #social .linkedin a,
  #header nav #social .behance a {
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;
    cursor: pointer;
  }

  #header nav #social .linkedin a {
    background: url(../img/linkedin\ branco.png) 0 3px no-repeat;
    background-size: 1.7rem;
  }

  #header nav #social .github a {
    background: url(../img/github\ branco.png) 0 3px no-repeat;
    background-size: 1.6rem;
  }

  #header nav #social .behance a {
    background: url(../img/behance\ branco.png) 0 6px no-repeat;
    background-size: 2rem;
  }

  /*section1 e 2===============================================================*/

  #section1{
    
    background: rgb(255, 255, 255);
    padding: 10rem 4.3rem 0px 4.3rem;
    grid-area: section1;
    border-bottom: #dddddd solid 1px;
    z-index: -10;
  }

  #section2{
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
    grid-area: section2;
    padding: 6.4rem 4.3rem;
    z-index: -10;
  }

 /*Inicio================================================*/

 #section1 .capa{
    height: 70vh;
    margin-top: -6%;
  }
 
  #section1 .capa .capaimg{
    width:40%;
  }

  /*Sobre mim=========================================*/

  #section1 .sobremim{
    grid-template-columns: 1.5fr 1fr;
  }

  #section1 .sobremim .imgsobremim img{
    width: 60%;
  }

  /*Portifolio=============================================*/

  #section1 .portfolio{
    grid-template-columns: 1fr 1fr;
   
  }

  #section1 .portfolio .imgportifolio img{
    width: 70%;
  }

 /*Contato================================================*/

  #section1 .contato{
    grid-template-columns: 1fr 1fr;
  }

  #section1 .contato #textocontato .social li{
    width: 45%;
  }

  #section1 .contato #imagemcontato{
    padding-bottom: 60px;
  }

  #section1 .contato #imagemcontato img{
    width: 80%;
  }

 /*===================================================*/

  #section2 {
    padding: 5rem 4.3rem;
  }

  #section2 .ultimostrabalhos h3 {
    top: -0.5rem;
    margin-left: -120px;
    width: 250px;
  }

  #thumbs{
    padding-left: 4.8%;
  }

  #thumbs li {
    float: left;
    width: 30.1923076923%;
    margin: 0 2.4038461538% 2.4038461538% 0;
    background: #ffffff;
    padding: 0.7692307692% 0.7692307692% 0 0.7692307692%;
  }

  .containerform {
    padding: 2rem 2rem;
  }

  #section2 .containerform .envioemail h2{
    font-size: 2rem;
  }

  #footer #nav-footer{
    display: inline-block;
    margin: auto;
    float: right;
  }
  
  #footer #nav-footer li{
    display: inline-block;
  }

  #footer a{
    float: left;
  }

}

/*===============================================================*/

@media only screen and (min-width: 1024px) {
  
  #header #logo {
    height: 96px;
    width: 5rem;
    background: url(../img/Logo\ Charlone\ impressao\ digital\ C\ branco.png) 7px 17px no-repeat;
    background-size: 4rem;
  }

  #header nav #menu li #social li a {
    margin-left: 20px;
  }

  /*==========================================*/

  #containerform form {
    grid-template-columns: 1fr 1fr;
    
  }

  .containerform {
    padding: 3rem 3rem;
  }

}

@media only screen and (min-width: 1140px) {

  #header nav #menu li a{
    font-size: 18px;
    margin-left: 2rem;
  }

  .containerform {
    padding: 5rem 5rem;
  }

}

/*===============================================================*/

/* Mobile img*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5) {

  #logo,
  #icon-nav,
  #social li a {
    background-image: url(../img/Mobile.png);
    background-size: 100%;
  }
  
}

/*===============================================================*/

/* Desktop img*/
@media only screen and (min-width: 830px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 830px) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 830px) and (min-device-pixel-ratio: 1.5) {
  .logo,
  .social li a{
    background-image: url(../img/Desktop.png);
    background-size: 200px 1200px;
  }
}